# Dependencies
node_modules/
*.log
package-lock.json
.pnp
.pnp.js

# Production
dist/
build/
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.swp

# Logs
logs/
*.log
npm-debug.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite cache
.vite/
node_modules/.vite/
